<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
</head>
<body>
<div th:include="fragment/header :: body"></div> <br>

<div class="container" style="text-align: center;">
  <span id='error'></span>
</div>

<div th:style="${!success} ? 'display:block' : 'display:none'">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Change Password</h5>
              <p class="mb-2">Enter your old and new password to change
              </p>
            </div>
            <form th:action="@{/login/changePassword}" th:object="${passwordForm}" method="post">
              <div class="mb-3">
                <div class="mb-1">
                  <label for="oldPassword" class="form-label">Old password</label>
                </div>
                <input type="password" id="oldPassword" class="form-control" name="oldPassword"
                       placeholder="Enter Your Old Password" th:field="*{oldPassword}" required="">
              </div>
              <div class="mb-3">
                <div class="mb-1">
                  <label for="newPassword" class="form-label">New password</label>
                </div>
                <input type="password" id="newPassword" class="form-control" name="newPassword"
                       placeholder="Enter Your New Password" th:field="*{newPassword}" required="">
              </div>
              <div class="mb-3">
                <div class="mb-1">
                  <label for="repeatPassword" class="form-label">Repeat Password</label>
                </div>
                <input type="password" id="repeatPassword" class="form-control" name="repeatPassword"
                       placeholder="Repeat Password" required="" onkeyup="checkPassword()">
                <span id='message'></span>
              </div> <br>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary">
                  Change Password
                </button>
              </div>
              <span>Don't have an account? <a href="/login/register">Register here</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <br>

<div th:style="${success} ? 'display:block' : 'display:none'">
  <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h5>CHANGE PASSWORD</h5>
            <p class="mb-2">Change password successful.</p>
            <span>Go back to profile. <a href="/login/profile">Link</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <br>

<script th:inline="javascript" type="text/javascript">
  let checkMessage = /*[[${error}]]*/null;

  if (checkMessage != null && !checkMessage) {
    document.getElementById('error').style.color = 'red';
    document.getElementById('error').innerHTML = 'Your old password can be wronged, Please check again';
  }

  function checkPassword() {
    let newPassword = document.getElementById('newPassword').value;
    let repeatPassword = document.getElementById('repeatPassword').value;
    if (newPassword == repeatPassword) {
      document.getElementById('message').style.color = 'green';
      document.getElementById('message').innerHTML = 'Matching';
      document.getElementById('submitReset').disabled = false;
    } else {
      document.getElementById('message').style.color = 'red';
      document.getElementById('message').innerHTML = 'Not matching';
      document.getElementById('submitReset').disabled = true;
    }
  }
</script>

<div th:include="fragment/footer :: body"></div>
</body>
</html>