<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forgotten Password</title>
</head>
<body>
<div th:include="fragment/header :: body"></div> <br>

<div th:style="${!sentEmail} ? 'display:block' : 'display:none'">
<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h5>Forgot Password?</h5>
            <p class="mb-2">Enter your registered email ID to reset the password
            </p>
          </div>
          <form th:action="@{/login/forgottenPassword}" th:object="${passwordForm}" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" name="username" placeholder="Enter Your Email"
                     th:field="*{username}" required="">
              <span id='message'></span>
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary">
                Reset Password
              </button>
            </div>
            <span>Don't have an account? <a href="/login/register">Register here</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div> <br>

<div th:style="${sentEmail} ? 'display:block' : 'display:none'">
  <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h5>SENT EMAIL</h5>
            <p class="mb-2">Please go to you inbox of your email to reset your password.</p>
            <span>Go to Home Page. <a href="/">Home page</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <br>

<script th:inline="javascript" type="text/javascript">
  let checkMessage = /*[[${error}]]*/null;

  if (checkMessage != null && !checkMessage) {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Could not find email';
  }
</script>

<div th:include="fragment/footer :: body"></div>
</body>
</html>