<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<div th:include="fragment/header :: body"></div> <br>

<div>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5>Reset Your Password</h5>
                            <p class="mb-2">Enter new password to change your password
                            </p>
                        </div>
                        <form th:action="@{/login/resetPassword}" th:object="${passwordForm}" method="post">
                            <input type="hidden" th:value="${username}" name="username">
                            <div class="mb-3">
                                <div class="mb-1">
                                    <label for="newPassword" class="form-label">New password</label>
                                </div>
                                <input type="password" id="newPassword" class="form-control" name="newPassword"
                                       placeholder="Enter Your New Password" th:field="*{newPassword}" required="">
                            </div>
                            <div class="mb-3">
                                <div class="mb-1">
                                    <label for="repeatPassword" class="form-label">Repeat Password</label>
                                </div>
                                <input type="password" id="repeatPassword" class="form-control" name="repeatPassword"
                                       placeholder="Repeat Password" required="" onkeyup="checkPassword()">
                                <span id='message'></span>
                            </div> <br>
                            <div class="mb-3 d-grid">
                                <button id="submitReset" type="submit" class="btn btn-primary" disabled>
                                    Reset Password
                                </button>
                            </div>
                            <span>Don't have an account? <a href="/login/register">Register here</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <br>

<script>
    function checkPassword() {
        let newPassword = document.getElementById('newPassword').value;
        let repeatPassword = document.getElementById('repeatPassword').value;
        if (newPassword == repeatPassword) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Matching';
            document.getElementById('submitReset').disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Not matching';
            document.getElementById('submitReset').disabled = true;
        }
    }
</script>

<div th:include="fragment/footer :: body"></div>
</body>
</html>