<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Cart</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>

<div th:include="fragment/header :: body"></div>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Cart</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<form th:action="@{/cart}" th:object="${cartForm}" method="post" enctype="multipart/form-data">
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Images</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody th:each="item, stat : ${cartForm.cartItemFormList}">
                        <tr>
                            <input type="hidden" th:name="|cartItemFormList[${stat.index}].cartItemId|"
                                   th:value="${item.cartItemId}">
                            <td class="thumbnail-img">
                                <a href="#">
                                    <img class="img-fluid"
                                         th:src="${'../'+item.product.picture.mainPicture}" alt="" />
                                </a>
                            </td>
                            <td class="name-pr">
                                <a href="#" th:text="${item.product.name}">
                                    Lorem ipsum dolor sit amet
                                </a>
                            </td>
                            <td class="price-pr">
                                <p th:text="${item.product.price}">$ 80.0</p>
                            </td>
                            <td class="quantity-box">
                                <input type="number" size="4" th:name="|cartItemFormList[${stat.index}].quantity|"
                                       th:value="${item.quantity}" min="0" step="1" class="c-input-text qty text">
                            </td>
                            <td class="total-pr">
                                <p th:text="${item.total}">$ 80.0</p>
                            </td>
                            <td class="remove-pr">
                                <a href="#" th:href="@{'/cart/deleteCartItem/'+${item.cartItemId}}"
                                   onclick="return confirm('Are you sure to delete this item ?')">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                <div class="coupon-box">
                    <div class="input-group input-group-sm">
                        <input id="searchCoupon" onkeydown="callCoupon();"
                               class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-theme" type="button">Apply Coupon</button>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="update-box">
                    <input value="Update Cart" type="submit">
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold" th:utext="|$ ${totalPriceCart}|"></div>
                    </div>
                    <div class="d-flex">
                        <h4>Discount</h4>
                        <div class="ml-auto font-weight-bold">$ 0</div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Coupon Discount</h4>
                        <div id="couponDiscount" class="ml-auto font-weight-bold">$ 0</div>
                    </div>
<!--                    <div class="d-flex">-->
<!--                        <h4>Tax</h4>-->
<!--                        <div class="ml-auto font-weight-bold">$ 0</div>-->
<!--                    </div>-->
                    <div class="d-flex">
                        <h4>Shipping Cost</h4>
                        <div class="ml-auto font-weight-bold">Standard Delivery</div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div id="totalPrice" class="ml-auto h5" th:utext="|$ ${totalPriceCart}|"></div>
                    </div>
                    <hr> </div>
            </div>
            <div class="col-12 d-flex shopping-box">
                <a href="/checkout" class="ml-auto btn hvr-hover">Checkout</a>
            </div>
        </div>

    </div>
</div>
</form>
<!-- End Cart -->

<div th:include="fragment/footer :: body"></div>

</body>

<script>
    function callCoupon() {
        $("#searchCoupon").autocomplete({
            source: function (request, response) {
                let code = $("#searchCoupon").val();
                $.ajax({
                    url: "ajax/findCoupon",
                    dataType: "json",
                    data: {
                        codeCoupon: code
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            select: function (event, ui) {
                $(this).val("");
                $(this).val(ui.item.code);
                $("#couponDiscount").html("$ " + ui.item.discount);

                let discount = parseInt(ui.item.discount);
                let totalPrice = parseInt($("#totalPrice").html().replace("$ ",""));

                let grandPrice;
                if (totalPrice > discount) {
                    grandPrice = totalPrice - discount;
                    $("#totalPrice").html("$ " + grandPrice);
                } else {
                    $("#totalPrice").html("$ 0");
                }

                event.preventDefault();
            },
            change: function (event, ui) {
                if (!ui.item || !ui.item.id) {
                    $(this).val("");
                }
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>").html("<div>" + "Coupon code: " + item.code + " - Discount: " + item.discount + "</div>").appendTo(ul);
        };
    }
</script>

</html>